@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.woff2) format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/robotobold.woff2) format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff2) format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@keyframes dropping-out {
  0% {
    top: -1000px;
    opacity: 0;
    pointer-events: none;
  }
  100% {
    top: 37px;
    opacity: 1;
    pointer-events: initial;
  }
}

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark: #323232;
  --basic-red: #ff0000;
  --basic-dark-light: #5a5a5a;
  --basic-input-border: rgba(178, 178, 178, 0.52);
  --basic-input-border-focus: rgba(46, 136, 228, 0.52);
  --basic-form-bg: #f8f7f4;
  --basket-price: #ababab;
  --close: #231f20;
  --catalog-menu-hover-focus: #fbded7;
  --catalog-menu-active: #f6b5a5;
  --catalog-menu-on-page: #d07058;
  --bacground-color-1: #849d8f;
  --bacground-color-2: #8996a6;
  --bacground-color-3: #9d8b84;
  --bacground-blur-1: rgba(215, 242, 227, 0.75);
  --bacground-blur-2: rgba(218, 228, 239, 0.75);
  --bacground-blur-3: rgba(239, 224, 218, 0.75);
  --bacground-color-filtr-good: rgba(255, 255, 255, 0.2);
  --shadow-basic: 0 20px 20px rgba(0, 0, 0, 0.4);
  --shadow-big: rgba(0, 0, 0, 0.3);
  --shadow-good: 0 20px 20px rgba(0, 0, 0, 0.2);
  --line: rgba(50, 50, 50, 0.2);
  --button: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
   --button-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
   linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --default-transition: 0.15s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.375;
  font-weight: 400;
  color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 40px;
  border: none;
  font-size: 18px;
  line-height: 1.125;
  font-weight: 700;
  color: var(--basic-white);
  background: var(--button);
  border-radius: 26px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  outline: 0;
}

.button:hover,
.button:focus {
  background: var(--button-hover);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: var(--button-active);
  box-shadow: inset 0px 2px 2px #942718;
}

.link-style-dabg {
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  outline: 0;
  transition: var(--default-transition);
}

.link-style-dabg:hover,
.link-style-dabg:focus,
.link-style-dabg:active {
  color: #FFBC9E;
  text-decoration: underline;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.link-style-whbg {
  color: var(--basic-dark);
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  cursor: pointer;
  outline: 0;
  transition: var(--default-transition);
}

.link-style-whbg:hover,
.link-style-whbg:focus,
.link-style-whbg:active {
  color: #E84D37;
  text-decoration: underline;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.field-style {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--basic-input-border);
  border-radius: 4px;
  line-height: 1.14;
  padding: 15px 0 15px 15px;
  color: var(--basic-dark);
  outline: 0;
  transition: var(--default-transition);
}

.field-style:hover {
  border: 1px solid var(--basic-input-border);
  box-shadow: inset 0 0 0 1px var(--basic-input-border);
}

.field-style:focus {
  border: 1px solid var(--basic-input-border-focus);
  box-shadow: inset 0 0 0 1px var(--basic-input-border-focus);
}

.field-style::placeholder {
  font-weight: 400;
}

.field-style:focus::placeholder {
  opacity: 0;
}

.field-style:invalid {
  color: var(--basic-red);
  border: 1px solid var(--basic-red);
  box-shadow: inset 0 0 0 1px var(--basic-red);
}

.background-color-first {
  background-color: var(--bacground-color-1);
}

.background-color-second {
  background-color: var(--bacground-color-2);
}

.background-color-third {
  background-color: var(--bacground-color-3);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  position: relative;
  margin-top: 9px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.main-logo {
  width: 154px;
  height: 64px;
  opacity: 100%;
  cursor: pointer;
  outline: 0;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 70%;
}

.main-logo:active {
  opacity: 50%;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-right: 350px;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.navigation-item{
  padding: 5px 13px 10px 13px;
  background: none;
  border-radius: 26px;
  color: var(--basic-white);
  width: max-content;
  height: 32px;
  cursor: pointer;
  outline: 0;
}

.navigation-item:not(:last-of-type) {
  margin-right: 6px;
}

.navigation-item:first-of-type {
  position: relative;
}

.navigation-item-link {
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
  background: none;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
}

.navigation-item:hover .catalog-menu,
.navigation-item:focus .catalog-menu {
  animation-name: dropping-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  top: 37px;

}

.navigation-item:hover,
.navigation-item:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}
.navigation-item:active {
  box-shadow: inset 0px 2px 1px #696969;
  color: var(--basic-dark);
}

.navigation-item-on-page {
  background-color: var(--catalog-menu-on-page);
}

.navigation-item-on-page .navigation-item-link {
  border: 0;
}

.catalog-menu {
  position: absolute;
  top: -1000px;
  left: -7px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: var(--shadow-basic);
  transition: var(--default-transition);
}

.catalog-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100px;
  height: 5px;
  background-color: transparent;
}

.catalog-menu-item {
  padding-top: 8px;
  padding-left: 21px;
  padding-bottom: 9px;
  padding-right: 20px;
  transition: var(--default-transition);
}

.catalog-menu-item:first-of-type {
  border-radius: 4px 4px 0 0;
}

.catalog-menu-item:last-of-type {
  border-radius: 0 0 4px 4px;
}

.news-link {
  position: relative;
  padding-top: 13px;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 700;
  margin-bottom: 1px;
}

.news-link::before{
  content: "";
  position: absolute;
  top: 39px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: var(--basic-dark);
  opacity: 20%;
}

.catalog-menu-link {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.14;
  color: var(--basic-dark);
  cursor: pointer;
  outline: 0;
}

.catalog-menu-item:hover,
.catalog-menu-item:focus{
  background-color: var(--catalog-menu-hover-focus);
}

.catalog-menu-item:active{
  background-color: var(--catalog-menu-active);
}

.catalog-menu-on-page{
  color: var(--basic-white);
  background-color: var(--catalog-menu-on-page);
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
}

.search-block,
.enterance-block,
.basket-block {
  position: relative;
  margin-right: 10px;
  padding: auto;
  color: var(--basic-white);
  cursor: pointer;
  outline: 0;
  transition: var(--default-transition);
}
.basket-block {
  margin: 0;
}

.user-navigation-buttos {
  position: absolute;
  right: 16px;
  border: none;
  color: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  margin-top: 8px;
}

.search-block {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-block:hover,
.search-block:focus {
  background-color: var(--basic-white);
}

.search-ico {
  position: absolute;
  top: 0;
  left: -8px;
  transition: var(--default-transition);
  fill: var(--basic-white);
}

.search-block:hover .search-ico,
.search-block:focus .search-ico {
  fill: var(--basic-black);
}

.search-form {
  position: absolute;
  top: -1000px;
  left: -310px;
  z-index: 2;
  padding: 20px 15px;
  background-color: var(--basic-form-bg);
  border-radius: 4px;
  box-shadow: var(--shadow-basic);
  transition: var(--default-transition);
  opacity: 1;
}

.search-form::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 305px;
  width: 40px;
  height: 5px;
  background-color: transparent;
}

.search-field {
  width: 311px;
  height: 44px;
}

.search-block:hover .search-form,
.search-block:focus .search-form {
  animation-name: dropping-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  top: 37px;
}

.enterance-block {
  min-width: 92px;
  height: 32px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.enterance-ico {
  position: absolute;
  top: -2px;
  left: -30px;
  transition: var(--default-transition);
  fill: var(--basic-white);
}

.enterance-block:hover .enterance-ico,
.enterance-block:focus .enterance-ico {
  fill: var(--basic-dark);
}

.enterance-form {
  position: absolute;
  z-index: 2;
  top: -1000px;
  left: -185px;
  background-color: var(--basic-form-bg);
  border-radius: 4px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-top: 20px;
  padding-right: 17px;
  box-shadow: var(--shadow-basic);
  transition: var(--default-transition);
}

.enterance-form::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 190px;
  width: 80px;
  height: 5px;
  background-color: transparent;
}

.enterance-form-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 44px;
}
.enterance-form-submit .button {
  min-width: 103px;
  min-height: 44px;
}

.enterance-link {
  margin-left: 20px;
  font-size: 13px;
  line-height: 1.15;
}

.enterance-link:first-of-type {
  margin-bottom: 9px;
}

.enterance-field {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
}

.enterance-block:hover .enterance-form,
.enterance-block:focus .enterance-form {
  animation-name: dropping-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  top: 37px;
}

.basket-block {
  min-width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket-ico {
  position: absolute;
  top: -2px;
  left: -30px;
  transition: var(--default-transition);
  fill: var(--basic-white);
}

.basket-block:hover .basket-ico,
.basket-block:focus .basket-ico {
  fill: var(--basic-dark);
}

.basket-filling {
  position: absolute;
  z-index: 2;
  top: -1000px;
  left: -425px;
  width: 539px;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 21px;
  border-radius: 4px;
  box-shadow: var(--shadow-basic);
  color: var(--basic-dark);
  background-color: var(--basic-form-bg);
  transition: var(--default-transition);
}

.basket-filling::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 430px;
  width: 100px;
  height: 5px;
  background-color: transparent;
}

.basket-block:hover .basket-filling,
.basket-block:focus .basket-filling {
  animation-name: dropping-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  top: 37px;
}

.search-block:hover,
.enterance-block:hover,
.basket-block:hover,
.search-block:focus,
.enterance-block:focus,
.basket-block:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.work-time {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 1006px;
  width: max-content;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: var(--basic-white);
  text-align: end;

}
.work-time p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.telephon {
  font-size: 22px;
  line-height: 1.09;
  font-weight: 700;
  color: var(--basic-white);
}

.sliders-block{
  position: relative;
}

.slider{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slider-image-block {
  position: absolute;
  z-index: -1;
  top: -12%;
  left: 19%;
}

.slider-image {
  position: relative;
  display: block;
  width: 716px;
  height: 716px;
}

.first-slider-block::before,
.second-slider-block::before,
.third-slider-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 716px;
  height: 716px;
  filter: blur(250px);
  border-radius: 50%;
}

.first-slider-block::before {
  background-color: rgba(215, 242, 227, 0.75);
}

.second-slider-block::before {
  background-color: rgba(218, 228, 239, 0.75);
}

.third-slider-block::before {
  background-color: rgba(239, 224, 218, 0.75);
}

.slider p {
  padding: 0;
  margin: 0;
  margin-top: 325px;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.button-in-slide {
  min-width: 261px;
  height: 62px;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-buttons {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 491px;
  left: 28px;
  min-width: 79px;
  height: 21px;
}

.slider-button {
  position: relative;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  padding: 0;
  background: none;
  border:  2px solid var(--basic-white);
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.slider-button-active::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 21px;
  height: 21px;
  background-color: var(--basic-white);
  border-radius: 50%;
  transition: var(--default-transition);
}

.special-offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.special {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 560px;
  height: 229px;
  margin: 0;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
}

.raspberries {
  background: url(../img/background-raspberries.png) 0 0 no-repeat;
}

.chocolate {
  background: url(../img/background-chocolate.png) 0 0 no-repeat;
}

.special-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 35px;
  line-height: 1.17;
  font-weight: 700;
}

.special-text {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
}

.special .button {
  align-self: flex-end;
  padding: 15px 22px 16px 22px;
}

.goods {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.good-card {
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
  transition: var(--default-transition);
}

.good-card:nth-of-type(4n) {
  margin-right: 0;
}

.good-card:hover,
.good-card:focus {
  z-index: 2;
}

.good-card:hover .good-card-buy,
.good-card:focus .good-card-buy {
  transform: translateX(0);
  opacity: 1;
}

.good-image {
  width: 267px;
  height: 267px;
  object-fit: contain;
  clip-path: circle(49%);
}

.hit-logo {
  position: relative;
}

.hit-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 61px;
  height: 61px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.hit-logo::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;
  z-index: 1;
  width: 61px;
  height: 61px;
  background: url(../img/marker-hit.svg) 0 0 no-repeat;
}

.price {
  position: absolute;
  top: 200px;
  left: 0;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
}

.sub {
  font-size: 30px;
  line-height: 1.16;
}

.good-card-title {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  color: var(--basic-white);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.good-card-buy {
  position: absolute;
  top: -6px;
  left: -13px;
  width: 293px;
  min-height: 402px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 4px;
  transition: var(--default-transition);
  transform: translateX(-1000%);
}

.good-button {
  position: absolute;
  top: 337px;
  left: 46px;
  width: 200px;
  height: 44px;
}

.about {
  margin-bottom: 40px;
  padding: 24px 23px 3px 20px;
  line-height: 1.375;
  color: var(--basic-dark);
  background: url(../img/pattern.png) 0 0 repeat;
  border-radius: 16px;
}

.about-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
}

.about-advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.advantages {
  position: relative;
  width: 540px;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 10px;
  padding-left: 55px;
}

.ice {
  background: url(../img/advantages-icon-ice.svg) left top no-repeat;
}

.moo {
  background: url(../img/advantages-icon-moo.svg) left top no-repeat;
}

.natural {
  background: url(../img/advantages-icon-natural.svg) left top no-repeat;
}

.temperature {
  background: url(../img/advantages-icon-temperature.svg) left top no-repeat;
}

.blog-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  border-radius: 16px;
  padding:20px 20px 35px 20px;
}

.blog:nth-of-type(2n) {
  margin-right: 0;
}

.blog-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 500;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background: url(../img/background-strawberry.png) 0 0 no-repeat;
}

.blog-news p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.news-title {
  width: 287px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--basic-dark);
  text-decoration-style: solid;
}

.post {
  padding: 5px 6px;
  background: url(../img/background-post.png) 0 0 no-repeat;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 27px 20px 35px 20px;
  width: 548px;
  min-height: 210px;
  border-radius: 16px;
  color: #5a5a5a;
  background-color: #f8f7f4;

}

.submit p {
  margin: 0;
  margin-bottom: 35px;
}

.submit-form{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.submit-form-field {
  width: 368px;
  margin: 0;
  margin-right: 10px;
}

.submit-form-button {
  min-width: 130px;
  min-height: 44px;
}

.map-block {
  position: relative;
  width: 100%;
}

.map {
  width: 100%;
  height: 430px;
}

.contacts {
  position: absolute;
  top: 10%;
  left: 80%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 303px;
  min-height: 306px;
  padding: 32px 25px 31px 25px;
  color: var(--basic-dark);
  background-color: #fefefe;
  border-radius: 16px;
}

.contacts-text {
  font-size: 14px;
  line-height: 1.428;
  padding: 0;
  margin: 0;
  width: 172px;
}

.contacts-address,
.telephon-contact {
  font-size: 18px;
  line-height: 1.333;
  font-style: normal;
  font-weight: 700;
  color: var(--basic-dark);
}

.contacts-address {
  margin-top: 8px;
  margin-bottom: 30px;
}

.telephon-contact {
  margin-top: 11px;
  margin-bottom: 8px;
}

.button-open-modal {
  align-self: stretch;
  margin-top: 31px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}

.social-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social {
  margin-right: 8px;
}

.social:last-of-type {
  margin-right: 0;
}

.social-ico {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  fill: rgba(255, 255, 255, 0.8);
  transition: var(--default-transition);
}

.social-ico:hover,
.social-ico:focus {
  fill: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-ico:active {
  fill: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.legal-information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 327px;
  min-height: 37px;
  padding-left: 22px;
}

.legal-link {
  min-width: 111px;
  margin-right: 32px;
  font-size: 13px;
  line-height: 1.384;
}

.legal-link:nth-of-type(2n) {
  margin-right: 0;
}

.legal-link:first-of-type {
  position: relative;
  font-weight: 700;
}

.legal-link:first-of-type::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 13px;
  background: url(../img/heart-icon.svg) 0 0 no-repeat;
}

.developer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.developer-text {
  margin: 0;
  margin-top: 8px;
  font-size:  12px;
  line-height: 1.5;
}

.HTMLAcademy-logo {
  width: 108px;
  height: 39px;
  opacity: 100%;
  transition: var(--default-transition);
}

.HTMLAcademy-logo:hover,
.HTMLAcademy-logo:focus {
  opacity: 70%;
}

.HTMLAcademy-logo:active {
  opacity: 50%;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 25% ;
  left: 38%;
  min-width: 477px;
  min-height: 441px;
  padding: 20px 25px 0 23px;
  color: var(--basic-dark);
  background-color:#f8f7f4;
  border-radius: 6px;
}

.modal-title {
  width: max-content;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.modal-input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}

.modal-textarea {
  width: 100%;
  height: 154px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
  text-indent: 16px;
  transition: var(--default-transition);
}

.modal-button {
  align-self: flex-end;
  width: 140px;
  height: 44px;
  margin-top: 25px;
}

.close {
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: -420px;
  left: 420px;
  display: block;
  width: 2px;
  height: 17px;
  background-color: #231f20;
  transition: var(--default-transition);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.close:hover::before,
.close:focus:before,
.close:hover::after,
.close:focus::after {
  opacity: 70%;
}

.close:active:before,
.close:active::after {
  opacity: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
